<div class="info-card">
  <h2>MikroTel</h2>

  <div class="rating">
    <span *ngFor="let star of stars" 
          (click)="setRating(star)" 
          (mouseenter)="setHover(star)" 
          (mouseleave)="setHover(0)"
          [class.active]="star <= (hoverRating || rating)">
      ★
    </span>
    <small>{{ rating > 0 ? '(' + rating + '/5)' : '(Califica aquí)' }}</small>
  </div>

  <p class="status" [class.abierto]="esHorarioLaboral()">
    {{ esHorarioLaboral() ? '● Abierto ahora (9am - 5pm)' : '○ Cerrado' }}
  </p>

  <hr>

  <div class="details">
  <a href="https://maps.app.goo.gl/27gm6gv38wcbfh15A" 
     target="_blank" 
     class="block group transition-all duration-300">
    
    <p class="font-bold text-gray-800 text-lg group-hover:text-blue-600 transition-colors">
      📌 Ver en Maps
    </p>
    <p class="text-gray-500 group-hover:text-blue-500 transition-colors">
      Pedro Vicente Maldonado #14-104, Ibarra
    </p>
    
  </a>

    <p><strong>📞 Soporte: </strong> <a href="tel:+593989268684">0989268684</a></p>
     <p><strong>📞 Ventas: </strong> <a href="tel:+593978787238">0978787238</a></p>
    <p><strong>📧 Email:</strong> <a href="mailto:mikrotel.sas@gmail.com">mikrotel.sas@gmail.com</a></p>
  </div>
</div>
