/* Añade un toque de elegancia a las tarjetas */
.shadow-sm {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover\:shadow-xl:hover {
  transform: translateY(-10px);
}

/* Ajuste para que los iconos tengan consistencia */
i {
  display: block;
}

/* Asegura que el contenedor no tenga scroll horizontal en móviles */
section {
  overflow-x: hidden;
}