<div class="social-sidebar-container">
  
  <div class="arc-sidebar">
    
    <a href="URL_DE_TU_FACEBOOK" target="_blank" class="social-btn facebook" title="Síguenos en Facebook">
      <i class="fa-brands fa-facebook-f"></i>
    </a>

    <a href="URL_DE_TU_INSTAGRAM" target="_blank" class="social-btn instagram" title="Síguenos en Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://wa.me/TU_NUMERO_WHATSAPP" target="_blank" class="social-btn whatsapp featured" title="Contáctanos por WhatsApp">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    
  </div>
</div>